<div id="followingPopUp" class="modal">
    <div class="following-popup-content">
        <div class="all-users-popup">
            <% if(following.length > 0 ) { %> <%
            following.forEach(function(follow) { %>
            <div class="user-container">
                <div class="user-link">
                    <a href="/userPage/<%= follow._id %>">
                        <img
                            src="<%= follow.profile_picture %>"
                            alt="Profile Pic"
                            class="profile-pic"
                        />
                    </a>
                </div>
                <div class="user-info-form-container">
                    <div class="user-list-info-and-form">
                        <div class="users-list-info">
                            <p class="users-list-name"><%=follow.name%></p>
                            <p class="users-list-username">
                                <%= follow.username %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% })} %>
        </div>
    </div>
</div>
