<link rel="stylesheet" href="/stylesheets/header.css" />

<div class="global-header">
    <div class="global-nav-bar">
        <a href="/dashboard">
            <img class="logo" src="/images/POCO_With.png" alt="logo" />
        </a>
        <div class="global-nav">
            <a
                href="/dashboard"
                class="<%= currentPage === '/dashboard' ? 'active' : '' %>"
                >Dashboard</a
            >
            <a
                href="/profile"
                class="<%= currentPage === '/profile' ? 'active' : '' %>"
                >Profile Page</a
            >
            <a
                href="/users"
                class="<%= currentPage === '/users' ? 'active' : '' %>"
                >Users</a
            >
        </div>
        <div class="user-nav">
            <img
                src="<%= user.profile_picture %>"
                alt="Profile Pic"
                class="profile-pic"
            />
            <a href="/logout">Log Out</a>
        </div>
    </div>
</div>
