<link rel="stylesheet" href="/stylesheets/header.css" />

<a href="/dashboard" class="<%= currentPage === '/dashboard' ? 'active' : '' %>"
    >Dashboard</a
>
<a href="/profile" class="<%= currentPage === '/profile' ? 'active' : '' %>"
    >Profile Page</a
>
<a href="/users" class="<%= currentPage === '/users' ? 'active' : '' %>"
    >Users</a
>
<a href="/logout">LOG OUT</a>
