<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/dashboard.css" />
        <link rel="stylesheet" href="/stylesheets/header.css" />
        <link rel="stylesheet" href="/stylesheets/popup.css" />
        <title><%= title %></title>
    </head>
    <body>
        <div class="global-header">
            <div class="global-header-title">
                <a href="/dashboard">
                    <img class="logo" src="/images/POCO_With.png" alt="logo" />
                </a>
            </div>
        </div>
        <div class="main-login">
            <div class="login-container">
                <h1><%= title %></h1>
                <form action="" method="POST">
                    <div class="login-inputs">
                        <label for="username">
                            <input
                                type="text"
                                id="username"
                                name="username"
                                placeholder="Username"
                                required
                            />Username
                        </label>
                        <label for="password">
                            <input
                                type="password"
                                name="password"
                                id="password"
                                required
                            />Password
                        </label>
                        <input type="hidden" name="action" value="login" />
                    </div>
                    <button class="login-button" type="submit">Log In</button>
                </form>
            </div>
            <div class="login-container">
                <a href="/signup" class="signup-link"><h3>Sign Up</h3></a>
            </div>
        </div>
    </body>
</html>
