<button id="openModalBtn" class="open-modal-button">
    Choose Profile Picture
</button>

<div id="myModal" class="modal">
    <div class="modal-content">
        <form
            action="/profile/selectPic"
            method="POST"
            class="profile-pic-form"
        >
            <label for="profilePic1">
                <input
                    type="radio"
                    name="profilePicture"
                    id="profilePic1"
                    style="display: none"
                    value="/images/bike-sunset-crop.jpg"
                />
                <img
                    src="/images/bike-sunset-crop.jpg"
                    alt="Bike Pic"
                    class="profile-pic"
                    id="bike"
                    onclick="selectProfilePicture('profilePic1', 'bike')"
                />
            </label>
            <label for="profilePic2">
                <input
                    type="radio"
                    name="profilePicture"
                    id="profilePic2"
                    style="display: none"
                    value="/images/border-collie-ai-generated-crop.jpg"
                />
                <img
                    src="/images/border-collie-ai-generated-crop.jpg"
                    alt="Boarder Collie"
                    class="profile-pic"
                    id="borderCollie"
                    onclick="selectProfilePicture('profilePic2', 'borderCollie')"
                />
            </label>
            <label for="profilePic3">
                <input
                    type="radio"
                    name="profilePicture"
                    id="profilePic3"
                    style="display: none"
                    value="/images/cartoon-rocket-ai-crop.jpg"
                />
                <img
                    src="/images/cartoon-rocket-ai-crop.jpg"
                    alt="Rocket"
                    class="profile-pic"
                    id="rocket"
                    onclick="selectProfilePicture('profilePic3', 'rocket')"
                />
            </label>
            <label for="profilePic4">
                <input
                    type="radio"
                    name="profilePicture"
                    id="profilePic4"
                    style="display: none"
                    value="/images/flowers-ai-crop.jpg"
                />
                <img
                    src="/images/flowers-ai-crop.jpg"
                    alt="Flowers"
                    class="profile-pic"
                    id="flowers"
                    onclick="selectProfilePicture('profilePic4', 'flowers')"
                />
            </label>
            <label for="profilePic5">
                <input
                    type="radio"
                    name="profilePicture"
                    id="profilePic5"
                    style="display: none"
                    value="/images/kitten-generative-ai-crop.jpg"
                />
                <img
                    src="/images/kitten-generative-ai-crop.jpg"
                    alt="Kitten"
                    class="profile-pic"
                    id="kitten"
                    onclick="selectProfilePicture('profilePic5', 'kitten')"
                />
            </label>
            <label for="profilePic6">
                <input
                    type="radio"
                    name="profilePicture"
                    id="profilePic6"
                    style="display: none"
                    value="/images/mug-with-marshmallow-snowman-crop.jpg"
                />
                <img
                    src="/images/mug-with-marshmallow-snowman-crop.jpg"
                    alt="Mug with Marshmallow Snowman"
                    class="profile-pic"
                    id="marshmallowMug"
                    onclick="selectProfilePicture('profilePic6', 'marshmallowMug')"
                />
            </label>
            <label for="profilePic7">
                <input
                    type="radio"
                    name="profilePicture"
                    id="profilePic7"
                    style="display: none"
                    value="/images/raccoon-generative-ai-crop.jpg"
                />
                <img
                    src="/images/raccoon-generative-ai-crop.jpg"
                    alt="Raccoon"
                    class="profile-pic"
                    id="raccoon"
                    onclick="selectProfilePicture('profilePic7', 'raccoon')"
                />
            </label>
            <label for="profilePic8">
                <input
                    type="radio"
                    name="profilePicture"
                    id="profilePic8"
                    style="display: none"
                    value="/images/snoman-crop.jpg"
                />
                <img
                    src="/images/snoman-crop.jpg"
                    alt="Snowman"
                    class="profile-pic"
                    id="snowman"
                    onclick="selectProfilePicture('profilePic8', 'snowman')"
                />
            </label>
            <br />
            <button type="submit">Select Profile Picture</button>
        </form>
    </div>
</div>
