<button id="openModalBtn">Choose Profile Picture</button>

<div id="myModal" class="modal">
    <div class="modal-content">
        <form action="" method="POST">
            <label for="profilePic1">
                <input type="radio" name="profilePicture" id="profilePic1" />
                <img
                    src="/images/bike-sunset-crop.jpg"
                    alt="Bike Pic"
                    class="profile-pic"
                    onclick="selectProfilePicture('profilePic1'); this.classList.add('selected-profile-pic')"
                />
            </label>
            <label for="profilePicture">
                <input type="radio" name="profilePicture" />
                <img
                    src="/images/border-collie-ai-generated-crop.jpg"
                    alt="Boarder Collie"
                    class="profile-pic"
                />
            </label>
            <label for="profilePicture">
                <input type="radio" name="profilePicture" />
                <img
                    src="/images/cartoon-rocket-ai-crop.jpg"
                    alt="Boarder Collie"
                    class="profile-pic"
                />
            </label>
            <label for="profilePicture">
                <input type="radio" name="profilePicture" />
                <img
                    src="/images/flowers-ai-crop.jpg"
                    alt="Boarder Collie"
                    class="profile-pic"
                />
            </label>
            <label for="profilePicture">
                <input type="radio" name="profilePicture" />
                <img
                    src="/images/kitten-generative-ai-crop.jpg"
                    alt="Boarder Collie"
                    class="profile-pic"
                />
            </label>
            <label for="profilePicture">
                <input type="radio" name="profilePicture" />
                <img
                    src="/images/mug-with-marshmallow-snowman-crop.jpg"
                    alt="Boarder Collie"
                    class="profile-pic"
                />
            </label>
            <label for="profilePicture">
                <input type="radio" name="profilePicture" />
                <img
                    src="/images/raccoon-generative-ai-crop.jpg"
                    alt="Boarder Collie"
                    class="profile-pic"
                />
            </label>
            <label for="profilePicture">
                <input type="radio" name="profilePicture" />
                <img
                    src="/images/snoman-crop.jpg"
                    alt="Boarder Collie"
                    class="profile-pic"
                />
            </label>
            <br />
            <button type="submit">Select Profile Picture</button>
        </form>
    </div>
</div>
