<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/dashboard.css" />
        <link rel="stylesheet" href="/stylesheets/header.css" />
        <link rel="stylesheet" href="/stylesheets/popup.css" />

        <script src="/javascripts/signUp.js" defer></script>
        <script src="/javascripts/script.js" defer></script>

        <title>Sign up</title>
    </head>
    <body>
        <div class="global-header">
            <div class="global-header-title">
                <a href="/dashboard">
                    <img class="logo" src="/images/POCO_With.png" alt="logo" />
                </a>
            </div>
        </div>
        <div class="main-signup">
            <div class="signup-container">
                <h1>Sign Up For Free</h1>
                <% if(message) { %>
                <p class="username-exists"><%= message %></p>
                <% } %>
                <div class="signup-form">
                    <form action="" method="POST">
                        <div class="text-input">
                            <label for="username"
                                >Username
                                <input
                                    type="text"
                                    name="username"
                                    placeholder="Username"
                                    required
                                />
                            </label>
                            <label for="password"
                                >Password
                                <input
                                    type="password"
                                    name="password"
                                    placeholder="Password"
                                    required
                                />
                            </label>
                            <label for="email"
                                >Email
                                <input
                                    type="email"
                                    name="email"
                                    placeholder="Email"
                                    required
                                />
                            </label>
                            <label for="phone"
                                >Phone Number
                                <input
                                    type="tel"
                                    name="phone"
                                    placeholder="Phone Number"
                                    required
                                />
                            </label>
                            <label for="first_name"
                                >First Name
                                <input
                                    type="text"
                                    name="first_name"
                                    placeholder="First Name"
                                    required
                                />
                            </label>
                            <label for="last_name"
                                >Last Name
                                <input
                                    type="text"
                                    name="last_name"
                                    placeholder="Last Name"
                                    required
                                />
                            </label>
                        </div>
                        <div class="signup-pic-container">
                            <h3>Choose Your Profile Picture</h3>
                            <div class="signup-pic-selection">
                                <label for="profilePic1">
                                    <input
                                        type="radio"
                                        name="profilePicture"
                                        id="profilePic1"
                                        style="display: none"
                                        value="/images/bike-sunset-crop.jpg"
                                    />
                                    <img
                                        src="/images/bike-sunset-crop.jpg"
                                        alt="Bike Pic"
                                        class="profile-pic-signup"
                                        id="bike"
                                        style="cursor: pointer"
                                        onclick="selectProfilePicture('profilePic1', 'bike')"
                                    />
                                </label>
                                <label for="profilePic2">
                                    <input
                                        type="radio"
                                        name="profilePicture"
                                        id="profilePic2"
                                        style="display: none"
                                        value="/images/border-collie-ai-generated-crop.jpg"
                                    />
                                    <img
                                        src="/images/border-collie-ai-generated-crop.jpg"
                                        alt="Boarder Collie"
                                        class="profile-pic-signup"
                                        id="borderCollie"
                                        onclick="selectProfilePicture('profilePic2', 'borderCollie')"
                                    />
                                </label>
                                <label for="profilePic3">
                                    <input
                                        type="radio"
                                        name="profilePicture"
                                        id="profilePic3"
                                        style="display: none"
                                        value="/images/cartoon-rocket-ai-crop.jpg"
                                    />
                                    <img
                                        src="/images/cartoon-rocket-ai-crop.jpg"
                                        alt="Rocket"
                                        class="profile-pic-signup"
                                        id="rocket"
                                        onclick="selectProfilePicture('profilePic3', 'rocket')"
                                    />
                                </label>
                                <label for="profilePic4">
                                    <input
                                        type="radio"
                                        name="profilePicture"
                                        id="profilePic4"
                                        style="display: none"
                                        value="/images/flowers-ai-crop.jpg"
                                    />
                                    <img
                                        src="/images/flowers-ai-crop.jpg"
                                        alt="Flowers"
                                        class="profile-pic-signup"
                                        id="flowers"
                                        onclick="selectProfilePicture('profilePic4', 'flowers')"
                                    />
                                </label>
                                <label for="profilePic5">
                                    <input
                                        type="radio"
                                        name="profilePicture"
                                        id="profilePic5"
                                        style="display: none"
                                        value="/images/kitten-generative-ai-crop.jpg"
                                    />
                                    <img
                                        src="/images/kitten-generative-ai-crop.jpg"
                                        alt="Kitten"
                                        class="profile-pic-signup"
                                        id="kitten"
                                        onclick="selectProfilePicture('profilePic5', 'kitten')"
                                    />
                                </label>
                                <label for="profilePic6">
                                    <input
                                        type="radio"
                                        name="profilePicture"
                                        id="profilePic6"
                                        style="display: none"
                                        value="/images/mug-with-marshmallow-snowman-crop.jpg"
                                    />
                                    <img
                                        src="/images/mug-with-marshmallow-snowman-crop.jpg"
                                        alt="Mug with Marshmallow Snowman"
                                        class="profile-pic-signup"
                                        id="marshmallowMug"
                                        onclick="selectProfilePicture('profilePic6', 'marshmallowMug')"
                                    />
                                </label>
                                <label for="profilePic7">
                                    <input
                                        type="radio"
                                        name="profilePicture"
                                        id="profilePic7"
                                        style="display: none"
                                        value="/images/raccoon-generative-ai-crop.jpg"
                                    />
                                    <img
                                        src="/images/raccoon-generative-ai-crop.jpg"
                                        alt="Raccoon"
                                        class="profile-pic-signup"
                                        id="raccoon"
                                        onclick="selectProfilePicture('profilePic7', 'raccoon')"
                                    />
                                </label>
                                <label for="profilePic8">
                                    <input
                                        type="radio"
                                        name="profilePicture"
                                        id="profilePic8"
                                        style="display: none"
                                        value="/images/snoman-crop.jpg"
                                    />
                                    <img
                                        src="/images/snoman-crop.jpg"
                                        alt="Snowman"
                                        class="profile-pic-signup"
                                        id="snowman"
                                        onclick="selectProfilePicture('profilePic8', 'snowman')"
                                    />
                                </label>
                            </div>
                        </div>
                        <input type="hidden" name="action" value="signup" />
                        <button class="sign-up-button" type="submit">
                            Sign Up
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
