/* @import url("/node_modules/font-awesome/css/font-awesome.min.css"); */

.all-posts {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.post-container {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 24px rgba(13, 13, 18, 0.04);
    padding: 16px;
    margin: 10px;
    /* border: 1px solid black; */
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post-header img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.post-header p {
    margin: 0 20px;
}

.post-body {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.post-footer {
    padding: 10px;
    /* border-top: 1px solid #ccc; */
}

.likes-comments-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likes-comments-counter p {
    color: rgba(87, 86, 86, 0.751);
    font-size: 0.9rem;
    margin-left: 5px;
}

.post-footer-icons {
    display: flex;
}

.post-footer-icons i {
    font-size: 20px;
    margin: 0 5px;
    color: green;
}

.comments {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

.comments-comment {
    display: flex;
    /* width: 80%; */
    margin: 0px 10px 0px 40px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 5px;
}

.comments-comment img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.comments-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.comments-content p {
    margin: 5px;
}

.comment-name-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.author-name {
    font-weight: 600;
}

.date-time {
    color: rgb(155, 153, 153);
}

.comment-text {
    width: 100%;
}

.comments-form {
    margin: 10px -10px 10px 60px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    display: flex;
}

.comments-form img {
    width: 30px;
    /* height: 30px; */
    border-radius: 5px;
    margin-right: 20px;
}

.comments-form form {
    width: 100%;
    margin-right: 20px;
}

.comments-form-text-button {
    width: 100%;
    display: flex;
}
.comments-form textarea {
    resize: none;
    width: 100%;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.37);
}

.comments-form textarea:focus {
    outline: none;
}

.comments-form button {
    padding: 10px;
    background-color: #cccccc23;
    border-radius: 10px;
    border: none;
    color: green;
    cursor: pointer;
}

.comments-form button:hover {
    background-color: #cccccc4f;
}

.comments-form button:active {
    box-shadow: inset 0 0 7px rgba(0, 128, 0, 0.274);
}

.new-post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.new-post-header img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.post-form {
    margin: 10px -10px 10px 60px;
    /* padding-top: 20px; */
    display: flex;
    width: 100%;
}

.post-form form {
    width: 100%;
    margin-right: 20px;
    display: flex;
}

.post-form-text-button {
    width: 100%;
    display: flex;
}
.post-form textarea {
    resize: none;
    width: 100%;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.37);
}

.post-form textarea:focus {
    outline: none;
}

.post-form button {
    padding: 10px;
    background-color: #cccccc23;
    border-radius: 10px;
    border: none;
    color: green;
    cursor: pointer;
}

.post-form button:hover {
    background-color: #cccccc4f;
}

.post-form button:active {
    box-shadow: inset 0 0 7px rgba(0, 128, 0, 0.274);
}

/* PROFILE */

.profile-sidebar {
    width: 250px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 24px rgba(13, 13, 18, 0.04);
    padding: 16px;
    margin: 10px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-pic {
    width: 150px;
    border-radius: 15px;
    margin-top: 20px;
}

.open-modal-button {
    background-color: #cccccc23;
    border-radius: 5px;
    border: 1px solid lightgreen;
    color: green;
    cursor: pointer;
}

.profile-name {
    font-weight: 600;
    font-size: 1.8rem;
    margin: 5px 0;
}

.followers-following {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.followers,
.following {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow-label {
    color: rgb(87, 86, 86);
}

.follow-number {
    font-weight: 550;
    font-size: 1.2rem;
}

.followers p,
.following p {
    margin: 0;
}

.profile-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.profile-info p {
    margin: 0;
}

.profile-label {
    font-size: 1rem;
}

.profile-label-lite {
    color: rgba(87, 86, 86, 0.751);
    font-size: 0.9rem;
}

/* USERS  */

.all-users {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    gap: 10px;
    width: 70%;
}

.user-container {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 24px rgba(13, 13, 18, 0.04);
    padding: 16px;
    display: flex;
    justify-content: space-around;
    /* margin: 10px; */
    /* border: 1px solid black; */
}

.user-link img {
    border-radius: 10px;
}

.user-list-info-and-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.users-list-info p {
    margin: 5px;
}

.users-list-name {
    font-weight: 550;
}

.users-list-username {
    color: rgba(87, 86, 86, 0.751);
    font-size: 0.9rem;
}
