body {
    font: 14px MaisonNeue, Segoe UI, Helvetica Neue, -apple-system, system-ui,
        BlinkMacSystemFont, Roboto, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f8f5;
}

.main {
    margin: 100px 21px;
    padding: 20px;
    max-width: 1250px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-pic {
    width: 100px;
}

/* LOGIN */
.global-header-title {
    display: flex;
    height: 100px;
    margin: 0 21px;
    padding: 0 16px;
    max-width: 1250px;
    width: 100%;
    position: relative;
    justify-content: center;
}

.main-login {
    margin: 100px 21px;
    padding: 20px;
    max-width: 1250px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid green;
    width: 230px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.login-container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #808080;
}

.login-button {
    padding: 10px;
    color: rgb(90, 90, 90);
    border-radius: 10px;
    border: 0.2px solid rgba(0, 128, 0, 0.459);
    background-color: rgba(0, 128, 0, 0.138);
    cursor: pointer;
    margin-bottom: 20px;
}

.login-button:hover {
    background-color: #cccccc4f;
}

.login-button:active {
    box-shadow: inset 0 0 7px rgba(0, 128, 0, 0.274);
}

.login-container .signup-link {
    color: black;
    margin: 7px;
    font-size: 1.2rem;
}

/* SIGN UP  */
.global-header-title {
    display: flex;
    height: 100px;
    margin: 0 21px;
    padding: 0 16px;
    max-width: 1250px;
    width: 100%;
    position: relative;
    justify-content: center;
}

.main-signup {
    margin: 100px 21px;
    padding: 20px;
    max-width: 1250px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid green;
}

.signup-form {
    padding: 20px;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
}

.text-input label {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 70%;
    color: #808080;
}

.signup-pic-container {
    padding: 20px;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic-signup {
    width: 100px;
    border-radius: 10px;
    border: 1px solid green;
}

.signup-pic-selection {
    background-color: #fff;
    /* margin: 5% auto; */
    /* padding: 20px 20px 0px 20px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.sign-up-button {
    padding: 10px;
    color: rgb(90, 90, 90);
    border-radius: 10px;
    border: 0.2px solid rgba(0, 128, 0, 0.459);
    background-color: rgba(0, 128, 0, 0.138);
    cursor: pointer;
}

.sign-up-button:hover {
    background-color: #cccccc4f;
}

.sign-up-button:active {
    box-shadow: inset 0 0 7px rgba(0, 128, 0, 0.274);
}

.selected-profile-pic-signup {
    border: 5px solid green;
    box-sizing: border-box;
}

/* CONTACT US  */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid green;
    width: 350px;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.contact-container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #808080;
}

.contact-container input,
.contact-container textarea {
    border-radius: 5px;
    border: 0.5px solid green;
    padding: 5px;
}

.contact-content {
    resize: none;
}
